# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
logs
*.log

# other
eclipse
/runs
.vscode

# metadata (macOS)
.DS_Store

# metadata (windows)
Thumbs.db
desktop.ini
