# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
logs
*.log

# other
eclipse
run
run_server
.vscode
.architectury-transformer/
